div .cta p {
	color: gray;
}
section {
	position: relative;
	padding: 60px 0;
}

section .content {
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
}

section h2 {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 20px;
}

section h3 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
}

section p {
	font-size: 18px;
	margin-bottom: 30px;
}

section img {
	display: block;
	max-width: 100%;
	margin-bottom: 30px;
}

section ol {
	text-align: left;
	margin-bottom: 30px;
}

section ol li {
	font-size: 18px;
	margin-bottom: 10px;
}

/* CTA Button */
.cta-button a {
	display: inline-block;
	padding: 10px 20px;
	background-color: #912917;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	border-radius: 5px;
	text-decoration: none;
	margin-top: 30px;
	transition: background-color 0.3s ease-in-out;
}

.cta-button a:hover {
	background-color: #7d1f0e;
}

.last-section {
	background-color: #f8f8f8;
	padding: 80px 0;
	text-align: center;
}

/* New */

#web-store {
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 20px;
	width: 300px;
	height: 150px;
}
