.hero {
	background-color: #f2f2f2;
	position: relative;
	top: 0;
	left: 0;
	margin: 0 auto;
	align-content: center;
}

.hero-wrapper {
	padding-top: 4rem;
	padding-bottom: 2rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	text-align: center;
	width: 100vw;
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	justify-content: center;
}

.hero-content {
	padding: 0rem 2rem;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.hero-graphics {
	order: -1;
	margin: 4rem 1rem 2rem 1rem;
}

.hero-graphics > img {
	height: 30vh;
}

.hero h2 {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 20px;
}

.hero h3 {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}

.hero p {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 16px;
	margin-bottom: 30px;
}

.hero .cta p {
	color: gray;
}

/* CTA Button */
.cta-button {
	display: inline-block;
	padding: 10px 20px;
	background-color: #912917;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	border-radius: 5px;
	text-decoration: none;
	margin-top: 30px;
	margin-bottom: 10px;
	transition: background-color 0.3s ease-in-out;
}

.cta-button:hover {
	background-color: #7d1f0e;
}

@media (min-width: 1024px) {
	.hero p {
		font-size: 18px;
	}

	.hero-wrapper {
		height: 100vh;
		padding: 0px;
		grid-template-columns: auto auto;
	}

	.hero-content {
		margin: 0 40px;
		padding: 0 60px;
		height: 100%;
		width: 100%;
	}

	.hero-graphics {
		order: 0;
		margin: 0 40px;
		padding: 0 20px;
	}

	.hero-graphics > img {
		height: auto;
	}

	.hero h2 {
		font-size: 42px;
	}

	.hero h3 {
		font-size: 24px;
	}

	.hero p {
		font-size: 18px;
	}
}
